.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.form {
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 5px;
	margin-top: 20px;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"],
textarea {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
}

input[type="submit"] {
	background-color: #4CAF50;
}
#header.header-scrolled,
#header.header-fixed {
  background: rgba(6, 12, 34, 0.98);
  height: 70px;
  padding: 15px 0;
  transition: all 0.5s;
}