<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body style="background-color: rgb(183, 211, 185)">
	<div class="container">
		<div class="form">
			<h2>Update your reponse</h2>
			<form action="reeponseupdate.php" method="post"">
				<label for="identifiant">identifiant</label>
				<input type="text" id="identifiant" name="identifiant" required>

				<label for="message">message:</label>
				<input type="text" id="message" name="message"  required>

				

				<input type="submit" value="Submit">
			</form>
		</div>
	</div>

	<script src="script.js"></script>
	<?php
	
	?>
</body>
</html>